@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/theme";
@import "styles/overrides";

html, body {
  height: 100%;
}

mat-icon {
  font-family: 'Material Symbols Outlined', serif !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-success {
  color: rgb(16 185 129) !important;
}

/*
a {
  text-decoration: none;

  &.active {
    background: #0003 !important;
  }

  &:hover {
    background: #0006;
  }
}
*/
