<form *ngIf="form" [formGroup]="form" class="flex flex-col p-3">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency">
      @for (currency of currencyStore.currencyOptionItems(); track currency.value) {
        <mat-option [value]="currency.value">{{ currency.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tag</mat-label>
    <mat-select formControlName="tag">
      @for (tag of tagsStore.tagsOptionItems(); track tag.value) {
        <mat-option [value]="tag.value">{{ tag.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field [appearance]="'outline'">
    <mat-label>Icon</mat-label>
    <input matInput formControlName="icon">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Goal</mat-label>
    <input matInput type="number" formControlName="goal">
  </mat-form-field>
</form>

