<form *ngIf="!!form" [formGroup]="form">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tag</mat-label>
      <mat-select formControlName="tag">
        @for (tag of tagsStore.tagsOptionItems(); track tag.value) {
          <mat-option [value]="tag.value">{{ tag.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Unit of measure</mat-label>
      <input matInput formControlName="unitOfMeasure">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Expiration date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expirationDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
