<form *ngIf="!!form" [formGroup]="form">
  <div>
    <app-text-input label="Name" formControlName="name"></app-text-input>
    <app-select-input label="Tag" [data]="tagsStore.tagsOptionItems()" formControlName="tag"></app-select-input>
    <app-text-input label="Name" formControlName="unitOfMeasure"></app-text-input>
    <app-text-input label="Name" formControlName="quantity"></app-text-input>
    <app-datepicker-input label="Expiratoin date" formControlName="expirationDate"></app-datepicker-input>
  </div>
</form>
