<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  @if (!!formGroup) {
    <form [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          @for (category of dialogData.categories; track category.id) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  } @else {
    <mat-spinner></mat-spinner>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="submit()"
          [disabled]="formGroup.invalid">{{ formGroup.controls.id.value ? 'Update' : 'Create' }}
  </button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>
